/*  DiscoDisco
    https://www.github.com/begillespie/discodisco
    by Brian Gillespie
    GPL license, see README for more information */

body{
	background-color: black;
	margin: 0;
}
div.cell{
	float: left;
}
#disco{
	margin: 0 auto;
}
div#controlpanel{
	position: absolute;
	top: 80px;
	padding: 10px 30px 30px 30px;
	left: 0;
	width: 150px;
	float: left;
	color: #fff;
	background: #333;
	opacity: .70;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;

}
div#controlpanel.closed{
	left: -205px;
}
a.trigger{
	position: absolute;
	width: 60px;
	padding: 0 10px;
	left: 180px;
	top: 55px;
	display: block;
	color: #999;
	background: #333;
	opacity: .70;
	text-decoration: none;
	-webkit-transform: rotate(90deg);
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
}
a.trigger:hover{
	color: #fff;
}
.controls{
	font-size: 75%;
}
span.control_value{
	float: right;
	font-weight: bold;
	font-size: 130%;
}
